@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Inter-Light.ttf') format('trueType');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter-Regular.ttf') format('trueType');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Inter-Medium.ttf') format('trueType');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Inter-SemiBold.ttf') format('trueType');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Inter-Bold.ttf') format('trueType');
}

@font-face {
  font-family: 'Bodoni72-OldStyle';
  src: url('../fonts/Bodoni_72_OS_Font_1.ttf');
  /* src: url('../fonts/Bodoni-72-Smallcaps-Book.ttf'); */
}

body {
  font-family: 'Inter' !important;
}

.header-part {
  background-color: #E0E7FF;
  padding: 18px 0;
}

.header-part .nav-link {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

.header-part .nav-link:hover {
  text-decoration: underline;
}

.primary-btn {
  padding: 16px 50px;
  background-color: #FB923C;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
  transition: transform 0.2s;
}

.primary-btn.btn-small {
  padding: 10px 40px;
  background-color: #FDBA74;
}

.primary-btn:hover {
  background-color: #FB923C;
  transform: scale(1.04);
}

/* banner-section start here */
.banner-section {
  padding: 100px 0;
  background-color: #A5B4FC0D;
  background-image: url('../images/HologramBG.svg');
  background-size: cover;
}

.banner-contenmt-part h2 {
  font-family: 'Bodoni72-OldStyle';
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 30px;
}

.banner-contenmt-part p {
  color: #64748B;
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 24px;
}

/* facility-section */
.facility-section {
  background-image: url('../images/facility-bg.png');
  padding: 162px 0;
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: #1E1B4B;
  position: relative;
}

.facility-section::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(90deg, rgba(71, 64, 177, 0) 0%, #1E1B4B 100%);
  background-size: cover;
  height: 100%;
  width: 30%;
  top: 0;
  right: 20%;
}

.facility-content {
  max-width: 38%;
  margin-left: auto;
  text-align: left;
  color: #fff;
  position: relative;
  z-index: 2;
}

.facility-content h2 {
  font-size: 38px;
  line-height: 46px;
  font-family: 'Bodoni72-OldStyle';
  margin-bottom: 20px;
}

.facility-content p {
  font-size: 16px;
  margin-bottom: 0;
}

/* feature-scetion */
.feature-scetion {
  padding: 100px 0;
  background-color: #A5B4FC0D;
  /* background-image: url('../images/HologramBG.svg'); */
  background-size: cover;
  background: url('../images/HologramBG.svg')  50% / cover no-repeat;
}
.feature-scetion .card .image-part{
  width: 100%;
  height: 300px;
}
.feature-scetion .card .image-part video, .feature-scetion .card .image-part img{
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-scetion .card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feature-scetion .image-part img {
  border-radius: 16px;
}

.feature-scetion h6 {
  color: #4338CA;
  font-size: 36px;
  line-height: 46px;
  font-family: 'Bodoni72-OldStyle';
  font-weight: 700;
  margin-bottom: 30px;
}

.feature-scetion p {
  font-size: 16px;
  color: #64748B;
  margin-bottom: 0;
  max-width: 90%;
}

.learn-more-button {
  color: #FB923C;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  width: fit-content;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.learn-more-button:hover{
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transform: translateX(4px);
}

/* global-company-section */
.global-company-section {
  background: linear-gradient(180deg, #FAFBFF 0%, #FFFFFF 100%);
  padding: 100px 0;
}

.global-company-section .title-part h6 {
  font-size: 24px;
  font-weight: 700;
  color: #818CF8;
}

.global-company-section .title-part h6 span {
  color: #4338CA;
}

.global-company-section .title-part p {
  font-size: 16px;
  color: #64748B;
}

.global-company-section .logo-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  box-shadow: 0px 0px 50px 0 #6366f14d;
}

.global-company-section .logo-grid .logo {
  width: 20%;
  /* margin-bottom: 0.1%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 126px;
  border-radius: 2px;
  background-color: #fff;
  border-bottom: 1px solid #cccccc4d;
  border-right: 1px solid #cccccc4d;
}
.global-company-section .logo-grid .logo:nth-child(n+6){
  border-bottom: 0;
}
.global-company-section .logo-grid .logo img{
  transition: all 0.3s;
}
.global-company-section .logo-grid .logo:hover img{
  transform: scale(1.05);
}

.footer-part {
  background: #E0E7FF;
  padding: 46px 0 100px;
  color: #818CF8;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}
.footer-part .link-part{
  margin-top: 26px;
}
.footer-part .badge-part{
  margin-top: 56px;
}

.footer-part .social-link-part a {
  transition: transform 0.5s;
}

.footer-part .social-link-part a:hover {
  transform: scale(1.2);
}
.footer-part .badge-part .image-block{
  opacity: 0.5;
  transition: all 0.2s;
}
.footer-part .badge-part .image-block:hover{
  opacity: 1;
}
.slider-container {
  overflow: hidden;
  position: relative;
}

.slider-content {
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  min-width: 100%;
  border-radius: 16px;
  height: 300px;
}
.slider-item video{
  border-radius: 16px;
  /* max-width: 500px; */
  margin: auto;
  box-shadow: 0px 0px 50px 0 #6366f169;
  height: 100%;
  object-fit: cover;
}

.slider-item img {
  /* box-shadow: 0px 4px 50px 0px #6366F180; */
  border-radius: 20px;
}
.container{
  max-width: 1100px !important;
}
.facility-content .image-part{
  display: none;
}
.mobile-menu{
  display: none;
}



/* blog pafe design */
.main-content{
  padding: 100px 0;
  background-color: #A5B4FC0D;
  background-size: cover;
  background: url('../images/HologramBG.svg')  50% / cover no-repeat;
}
.blog-card{
  box-shadow: 0px 0px 30px 0 #6366f14d;
  border-radius: 16px;
  transition: all 0.2s;
}
.blog-card:hover{
  transform: scale(1.04);
}
.blog-card .blog-image{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  max-height: 300px;
  height: auto;
  object-fit: cover;
}
.blog-card .blog-text{
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.blog-category{
  background-color: #E0E7FF;
  color: #3730A3;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  width: fit-content;
  text-transform: capitalize;
  text-align: center;
  padding: 6px 14px;
}
.blog-title{
  font-size: 18px;
  color: #3730A3;
  font-weight: 700;
}
.blog-date{
  font-size: 14px;
    color: #64748B;
    font-weight: 500;
}
.blog-description{
  font-size: 16px;
  color: #64748B;
  margin-bottom: 0;
  max-width: 90%;
  display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
hr{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border-color: #cccccc4d;
}




















/* responsive design */

@media screen and (max-width: 1440px) {
  .facility-content{
    max-width: 40%;
  }
  .facility-section::before{
    width: 40%;
    right: 20%;
  }
  .feature-scetion .card .image-part{
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 1366px) {
  .facility-section{
   background-size: contain;
  }
  .facility-section::before{
    right: 16%;
  }
}
@media screen and (max-width: 1120px){
  .container{
    max-width: 90% !important;
  }
  .facility-section{
    padding: 120px 0;
  }
}
@media screen and (max-width: 1024px) {
  .container{
    max-width: 90% !important;
  }
  .header-part .nav-link{
    font-size: 16px;
  }
  .banner-contenmt-part h2{
    font-size: 40px;
    line-height: 42px;
  }
  .facility-section {
    padding: 70px 0;
  }
  .global-company-section{
    padding: 60px 0;
  }
  .feature-scetion{
    padding: 60px 0;
  }
}

@media screen and (max-width: 991px) {
  .facility-section::before{
    width: 100%;
    right: 0;
  }
  .mobile-menu-btn .primary-btn.btn-small{
    padding: 6px 8px;
    text-align: center;
    min-width: 110px;
    border-radius: 18px;
    font-size: 14px;
  }
  .banner-section{
    padding: 60px 0;
  }
  .mobile-menu{
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .banner-section .slider-part{
    margin-top: 20px;
  }
  .feature-scetion .card .image-part {
    height: 230px;
  }
  .facility-content {
    max-width: 100%;
    /* padding-top: 320px; */
    padding-bottom: 20px;
  }
  .facility-section {
    background-size: 100%;
    background-image: none;
    padding: 0;
}
.facility-section .container{
  max-width: 100% !important;
}
.facility-content .image-part{
  display: block;
  position: relative;
  margin-bottom: 20px;
}
 .facility-content .image-part::before{
  position: absolute;
    content: "";
    background-image:linear-gradient(90deg, rgba(71, 64, 177, 0) 0%, #1e1b4b 100%);
    background-size: cover;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
}
.facility-content p,  .facility-content h2{
  max-width: 80%;
  margin: auto;
  padding: 10px 0;
}
  .facility-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .facility-content h2 {
    font-size: 42px;
    line-height: 46px;
  }
}
@media screen and (max-width: 767px) {
  .banner-section .slider-part {
    margin-top: 0px;
}
  .banner-contenmt-part h2{
    font-size: 28px;
    line-height: 30px;
  }
  .banner-section, .feature-scetion, .global-company-section,.footer-part{
    padding: 30px 0;
  }
 .facility-content p, .facility-content h2 {
    max-width: 90% !important;
  }
  .facility-content h2 {
    font-size: 30px;
    line-height: 30px;
}
  .facility-content p{
    font-size: 12px;
    line-height: 18px;
  }
  .feature-scetion .card{
    gap: 10px;
    margin-bottom: 30px;
  }
  .feature-scetion h6{
    margin-bottom: 10px;
  }
  .feature-scetion h6{
    font-size: 28px;
    line-height: 30px;
  }
  .global-company-section .logo-grid .logo{
    width: 33.33%;
    height: 80px;
  }
  .global-company-section .logo-grid .logo img{
    width: 90%;
  }
  .global-company-section .logo-grid .logo:nth-child(n+6){
    border-bottom: 1px solid #cccccc4d;
  } 
  .global-company-section .logo-grid .logo:hover img {
    transform: scale(1.05);
}
  .footer-part .link-part{
    margin-top: 26px;
  }
  .footer-part .badge-part{
    margin-top: 34px;
  }
}
@media screen and (max-width:375px) {
  .logo-part img{
    width: 80%;
  }
  .mobile-menu-btn .primary-btn.btn-small {
    padding: 4px;
    min-width: 100px;
  }
}